.card {
  position: relative;
  width: 100%;
  height: 25%;
  max-height: 10rem;
  transition: max-height 0.5s;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.card__title {
  position: absolute;
  z-index: 500;
  color: var(--white-color);
  bottom: 0;
  left: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.card--touched {
  max-height: 30rem;
  height: 100%;
  transition: max-height 0.5s;
}

@media only screen and (min-width: 1024px) {
  .card {
    position: relative;
    height: 70rem;
    max-height: 100%;
    width: 10%;
    max-width: 100%;
    transition: max-width 0.5s, max-height 0s, width 0.5s;
  }

  .card--touched {
    max-height: 70rem;
    max-width: 60%;
    width: 50%;
    height: 100%;
    transition: max-width 0.5s, max-height 0s, width 0.5s;
  }
}
